<div class="container-fluid">
    <form [formGroup]="studentForm">
        <div class="form-group">
            <label for="studentname">Имя</label>
            <input type="text" class="form-control" formControlName="name" id="studentname">
        </div>
        <div class="form-group">
            <label for="studentsurname">Фамилия</label>
            <input type="text" class="form-control" formControlName="surname" id="studentsurname">
        </div>
        <div class="form-group">
            <label for="studentpatronymic">Отчество</label>
            <input type="text" class="form-control" formControlName="patronymic" id="studentpatronymic">
        </div>
        <div class="form-group">
            <label for="studentname">Телефон</label>
            <input type="text" class="form-control" formControlName="phone" id="studentname" [textMask]="{mask: maskPhone, showMask: true}">
        </div>
        <div class="form-group">
            <label for="studentemail">Эл. почта</label>
            <input type="text" class="form-control" formControlName="email" id="studentemail">
        </div>
        <div class="form-group">
            <label for="studentdate">Дата рождения</label>
            <input type="text" class="form-control" formControlName="date" id="studentdate" [textMask]="{mask: maskDate, showMask: true}">
        </div>
        <div class="form-group">
            <label for="studentfaculty">Напр. подготовки (Факультет)</label>
            <select class="form-control custom-select" formControlName="faculty" id="studentfaculty">
                <option [ngValue]="faculties.IT">ИТ</option>
                <option [ngValue]="faculties.Engineering">Инженерный</option>
                <option [ngValue]="faculties.Math">Математический</option>
                <option [ngValue]="faculties.Economic">Экономический</option>
            </select>
        </div>
        <div class="form-group">
            <label for="studentgroup">Группа</label>
            <select class="form-control custom-select" formControlName="group" id="studentgroup">
                <option value="ИТ-1">ИТ-1</option>
                <option value="Инж-1">Инж-1</option>
                <option value="Мат-1">Мат-1</option>
                <option value="Эк-1">Эк-1</option>
            </select>
        </div>
        <button class="btn btn-outline-primary mr-4 mb-4" [disabled]="studentForm.invalid"
            (click)="onSave()">Сохранить</button>
        <button class="btn btn-outline-danger mb-4" *ngIf="id != null" (click)="onDelete()">Удалить</button>
    </form>
</div>